body {
  margin: 0;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loginWrapper {
  width: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.loginLogo {
  font-size: 80px;
  font-weight: 800;
  color: #240079;
  margin-bottom: 20px;
}

.loginDesc {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 200px;
}

.loginBox {
  height: 250px;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
}

.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1a9e00;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .loginWrapper {
    display: block;
    text-align: center;
    width: 100%;
  }

  .loginBox {
    margin: auto;
    width: 300px;
  }

  .loginDesc {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
